<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>｜URBNSTEP</title>
  </head>

  <body>
    <!-- navbar -->
    <% var showSmallPageLink = showSmallPageLink || false; %>
    <%- include('./layout/navbar', { showSmallPageLink: showSmallPageLink }); -%>

    <!-- page content -->
    <%- include(content) %>

    <!-- infoBar -->
    <% var showInfoBar = showInfoBar || false; %>
    <% if (showInfoBar) { %>
      <%- include('./layout/infoBar'); -%>
    <% } %>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <!-- template -->
    <template id="productCardTemp">
      <li class="card">
        <a href="product.html">
          <img src="../assets/images/products/product.png" alt="PLATFORM 404" class="card-img" />
          <h2 class="title">PLATFORM 404</h2>
          <p class="price">NT$2,600</p>
        </a>
      </li>
    </template>

    <!-- javascript -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
